<div id="footer" class="footer-main bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            <!-- Contact Us Section -->
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 
                    Kalyan, Near Shivaji Chauk
                </p>
                <p>
                    <i class="fa fa-phone" aria-hidden="true"></i> 
                    +91 93246 31068, +91 93269 95780
                </p>
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i> 
                    <a href="mailto:info@restaurant.com" class="text-white">info@restaurant.com</a>
                </p>
            </div>

            <!-- Opening Hours Section -->
            <div class="col-md-4">
                <h3>Opening Hours</h3>
                <ul class="list-unstyled">
                    <li>
                        <p>Monday - Friday</p>
                        <span>9:30 AM - 10:00 PM</span>
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <span>9:00 AM - 10:00 PM</span>
                    </li>
                </ul>
            </div>

            <!-- Newsletter & Social Media Section -->
            <div class="col-md-4">
                <h3>Stay Connected</h3>
                <p>Follow us on social media or subscribe to our newsletter for updates and special offers:</p>
                <div class="social-icons mb-3">
                    <a href="#" class="text-white me-3"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="text-white me-3"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="text-white me-3"><i class="fa fa-twitter"></i></a>
                </div>
               
            </div>
        </div>

        <hr class="mt-4">
        <div class="text-center">
            <p>&copy; 2025 ME AND YOU. All rights reserved.</p>
        </div>
    </div>
</div>
