{% extends "base.html" %}

{% load static %}


{% block body %}
<div class="container">
    <div class="container" style="margin-bottom: 40px;">
        <h2 class="text-white">add menu</h2>
    </div>
    
    <div class="container text-center p-1 rounded shadow bg-danger" >
        <h2 class="text-white">Add menu</h2>
    </div>
    
    <div class="container my-3 p-5 w-50 shadow">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{MF.as_p}}
            <p><input class="card-btn" type="submit"></p>
        </form>

    </div>

</div>


{% endblock body %}
