{% extends 'base.html' %}

{% load static %}

{% block body %}
<div class="container" style="margin-bottom: 40px;">
    <h2 class="text-white">Checkout</h2>
</div>

<div class="container text-center p-2 rounded shadow bg-danger mt-4">
    <h2 class="text-white">Order Status</h2>
</div>

<!-- Table for displaying order details -->
<div class="container mt-4">
    <table class="table custom-table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Product</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for i in fixorder %}
            <tr>
                <td>{{ i.customer }}</td>
                <td>{{ i.product }}</td>
                <td>{{ i.order_date }}</td>
                <td>{{ i.status }}</td>
                <td>₹{{ i.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock body %}
